<template name="Layout">
  <head>
    <title>patik</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <h1>Patik</h1>
    </header>
    <div class="container">
      {{> yield}}
    </div>
      {{ > addDrop}}
      {{> newDrop}}
  </body>
</template>

<template name="addDrop">
  <button id="addDrop">+</button>
</template>

<template name="newDrop">
  <div class="newDrop">
    <form role="form">
      <input class="dropFileInput" type="file" accept="image/*, audio/*" capture="camera">
      <input class="dropCaptionInput" type="text" placeholder="caption (optional)" maxlenght="250">
      <input class="submitCaption" type="submit" value="→">
    </form>
    <button class="closeNewDrop">&#9587;</button>
  </div>
</template>
